<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload</title>   
    </head>
    <body>
        <form action="/album/pictures/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <p>Upload Image:{{ form.image }}</p>
            <p>Title:{{ form.title }}</p>
            <p>Description:{{ form.description }}</p>
            <div style="visibility: hidden;">{{ form.pub_date }}</div>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html> 
